<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>
  <!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <!-- Title -->
  <title>PT Padi Internet - Layanan | Jasa | Internet | ISP | Surabaya | Jakarta | Malang</title>
  <meta name="description" content="Padinet adalah Internet Service Provider ISP layanan di Surabaya Malang Jakarta wireless FO website hotel software mobile lisensi microsoft acumatica VPN VOIP Hosting VPS colocation domain web aplikasi mobile sms gateway blackberry iphone android">
  <meta name="keywords" content="Layanan Internet,ISP,Cepat Stabil,wireless,FO,Padinet,Padi,Surabaya,Jakarta,Malang,Gresik, Pasuruan,Pandaan,Malang,Produk,Lisensi Microsoft,Website,Web,Aplikasi,VPN,VOIP,SMS Gateway,VSAT,Aplikasi Mobile,Mobile Application,Hosting,VPS,Colocation,Colo,IIX,Acumatica,ERP,CRM,Windows,Linux">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
    <![endif]--> 

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicone.png" />

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet"> 

    <!-- Animation -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.css" rel="stylesheet">

    <!-- Flexslider -->
    <link href="css/flexslider.css" rel="stylesheet"> 

    <!-- Styles -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Fotorama Slider -->
    <link href="css/fotorama.css" rel="stylesheet">


    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800,700' rel='stylesheet' type='text/css'>

    <script src="js/modernizr.custom.97074.js"></script>
  </head>

  <body>

   <!-- Header -->
   <header> 

    <div class="row">
      <div class="col-md-12">
        <div class="top-container">
          <!-- Logo -->                       
          <a href="index.html" class="logo" title="Home"><img src="img/logo-padinet.jpg" alt=""></a>
        </div>
      </div> 
    </div> 

    <!-- Nav -->
    <div class="navbar navbar-custom" id="nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Products & Services</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Konektifitas & Internet</a>
                  	<ul class="dropdown-menu wow fadeIn">
                    	<li><a href="custom-page.html" title="">Enterprise</a></li>
                        <li><a href="custom-page.html" title="">Business</a></li>
                        <li><a href="custom-page.html" title="">Game</a></li>
                        <li><a href="custom-page.html" title="">Localloop</a></li>
                        <li><a href="custom-page.html" title="">Smart Value</a></li>
                        <li><a href="custom-page.html" title="">VSAT</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Infrastruktur & Solusi IT</a>
                  	<ul class="dropdown-menu wow fadeIn">
                    	<li><a href="custom-page.html" title="">Wireless Hardware & Infrastructure</a></li>
                        <li><a href="custom-page.html" title="">Monitoring & Remote Provisioning System</a></li>
                        <li><a href="custom-page.html" title="">VPN system</a></li>
                        <li><a href="custom-page.html" title="">VOIP Solution</a></li>
                        <li><a href="custom-page.html" title="">IT Management & Outsourcing</a></li>
                        <li><a href="custom-page.html" title="">Maintenance</a></li>
                        <li><a href="custom-page.html" title="">IP PBX</a></li>
                        <li><a href="custom-page.html" title="">SMS Gateway</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Layanan Hosted</a>
                  	<ul class="dropdown-menu wow fadeIn">
                    	<li><a href="custom-page.html" title="">Domain</a></li>
                        <li><a href="custom-page.html" title="">Web Hosting</a></li>
                        <li><a href="custom-page.html" title="">Exchange Mail Hosting</a></li>
                        <li><a href="custom-page.html" title="">Linux VPS</a></li>
                        <li><a href="custom-page.html" title="">Windows VPS</a></li>
                        <li><a href="custom-page.html" title="">Colocation</a></li>
                    </ul>
                </li>
                <li>
                  <a href="custom-page.html" title="">Web & Aplikasi</a>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Microsoft Product</a>
                  	<ul class="dropdown-menu wow fadeIn">
                    	<li><a href="custom-page.html" title="">Desktop & Server Software</a></li>
                        <li><a href="custom-page.html" title="">Solusi Akademis</a></li>
                    </ul>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Network</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li>
                  <a href="custom-page.html" title="">Pops & Topologi</a>
                </li>
                <li>
                  <a href="speedtest.html" title="">Speed Test</a>
                </li>
                <li>
                  <a href="custom-page.html" title="">Data Center</a>
                </li>                
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Support</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li>
                  <a href="custom-page.html" title="">FAQ</a>
                </li>
                <li>
                  <a href="custom-page.html" title="">Dukungan Eskalasi</a>
                </li>
                <li>
                  <a href="custom-page.html" title="">Panduan</a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">News & Promo</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li>
                  <a href="list-artikel.html" title="">News</a>
                </li>
                <li>
                  <a href="list-artikel.html" title="">Promo</a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Profile</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li>
                  <a href="custom-page.html" title="">Profile</a>
                </li>
                <li>
                  <a href="custom-page.html" title="">Partner & Afiliasi</a>
                </li>
                <li>
                  <a href="custom-page.html" title="">Karir</a>
                </li>
            
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Contact</a>
              <ul class="dropdown-menu wow fadeInDown">
                <li>
                  <a href="kontak.html" title="">Hubungi Kami</a>
                </li>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </header>

    <!-- HEADER-TITLE
    ================================================== -->
  <!--div class="row">
    <div class="header-wrapper text-ca text-2">
      <h3>Right Sidebar</h3>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Custome Page with Right Sidebar</li>
      </ol>
    </div>
  </div-->

  <!-- End Header-title -->

     <!-- Right Sidebar
     ================================================== -->
  <section class="section">
    <div class="container">
      <div class="col-md-8 text-left">

        <h4 class="h4 text-ca text-bold-7">Custom Page with Right Sidebar</h4>
          <hr>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>

          <p>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>

          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>

          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>

          <p>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>

          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>
          
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
          voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.</p>
      </div> <!-- End of Col-8 -->
   

          <div class="col-md-4 text-left">
            <div class="sidebar_right">
              <div class="widget-search">
                <input type="text" class="form-control" placeholder="Search here ...">
                <a href="#"><i class="fa fa-search"></i></a>
              </div>

              <hr>

              <h4 class="padding-t-b-10 text-bold-6 h4">Latest News</h4>
                  <ul class="nav-list">
                    <li><a href="#">24 Mei 2017 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                    <li><a href="#">23 Mei 2017 - Nam viverra euismod odio, gravida pellentesque urna varius vitae.</a></li>
                    <li><a href="#">22 Mei 2017 - Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.</a></li>
                    <li><a href="#">21 Mei 2017 - Lid est laborum dolo rumes fugats untras.</a></li>
                    <li><a href="#">20 Mei 2017 - Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</a></li>
                  </ul> 
                  
                  <div><img src="img/internet-sehat-campaign.jpg" width="100%"></div>                 

                  <div class="textwidget">
                  	<div style="margin-top:50px;text-align:center;padding:20px; background-color:#ededed; border:1px dashed #ddd;">
						<!-- IPv6-test.com button BEGIN -->
						<a href="http://ipv6-test.com/validate.php?url=referer"><img src="http://ipv6-test.com/button-ipv6-big.png" alt="ipv6 ready" title="ipv6 ready" border="0"></a>
						<!-- IPv6-test.com button END -->		
					</div>
                </div>
             </div><!-- End of Sidebar-right -->
    </div> <!-- End Col-4 --> 
  </div> <!-- end of Container -->
</section>

    <!-- CLIENT
     ================================================== -->

     <section class="section">
      <div class="container">
        <div class="row">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="img/brand/mpn.jpg" title="Microsoft Partner Network">
            </div>
            <div class="item">
              <img src="img/brand/xlaxiata.jpg" title="XL">
            </div>
            <div class="item">
              <img src="img/brand/indosat.jpg" title="Indosat">
            </div>
            <div class="item">
              <img src="img/brand/hlt.jpg" title="HyperLink Technologies">
            </div>
            <div class="item">
              <img src="img/brand/canopy.jpg" title="Canopy">
            </div>
            <div class="item">
              <img src="img/brand/alvarion.jpg" title="Alvarion">
            </div>
            <div class="item">
              <img src="img/brand/iconplus.jpg" title="Icon+">
            </div>
            <div class="item">
              <img src="img/brand/linksys.jpg" title="LinkSys">
            </div>
            <div class="item">
              <img src="img/brand/Mikrotik.jpg" title="Mikrotik - Routing The World">
            </div>
            <div class="item">
              <img src="img/brand/ubnet.jpg" title="Ubiquity Networks">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Client-->

      <!-- FOOTER-Top
    ================================================== -->
    <section class="footer2 bg-yellow">
      <div class="container">
        <div class="row">

          <!-- About-US-->
          <div class="col-md-3 col-sm-6 footer-text">
            <h4>Head <span>&nbsp;Office</span></h4>
            <p>SURABAYA<br>Jl. Mayjend Sungkono 83<br>Surabaya 60242</p>
            <p><i class="fa fa-phone-square" style="padding-right:10px"></i> Telp. 031-5616330<br><i class="fa fa-fax" style="padding-right:10px"></i> Fax. 031-5616304<br><i class="fa fa-envelope" style="padding-right:10px"></i> Email info[at]Padi.net.id</p>
              <ul class="social-links margin-t-35">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
          </div>

          <!-- Recent-Post-->
          <div class="col-md-3 col-sm-6 footer-text">
            <h4>Branch<span>&nbsp;Offices</span></h4>
            <p>JAKARTA<br>Graha Sucofindo Lt. 10<br>Jl. Raya Pasar Minggu Kav. 34<br>Pancoran Jakarta Selatan 12780</p>
            <p><i class="fa fa-phone-square" style="padding-right:10px"></i> Telp. 021-79188616/30<br><i class="fa fa-fax" style="padding-right:10px"></i> Fax. 021-79188602</p>
            <!--ul class="list-unstyled">
              <li>
                <a class="block" href="#">Sitemap</a>
                <br>
                <small></small>
              </li>
              <li>
                <a class="block" href="#">Internet Sehat Aman</a>
                <br>
                <small></small>
              </li>
              <li>
                <a class="block" href="#">Ipv6 Ready</a>
                <br>
                <small></small>
              </li>
            </ul-->
          </div>
          <div class="clearfix hidden-md hidden-lg"></div>
          <!-- Recent-Tweets-->
          <div class="col-md-3 col-sm-6 footer-text">
            <h4><span>&nbsp;</span></h4>
            <p>MALANG<br>Jl. Letjen S. Parman 21<br>Malang - 65141</p>
            <p><i class="fa fa-phone-square" style="padding-right:10px"></i> Telp. 0341-404900<br><i class="fa fa-fax" style="padding-right:10px"></i> Fax. 0341-412115</p>
            <!--ul class="list-unstyled">
              <li>
                <i class="fa fa-twitter"></i> <a href="#">@John Doe</a><br> Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.<br><small>8 mins ago</small>
              </li>
              <li>
                <i class="fa fa-twitter"></i> <a href="#">@John Doe</a><br> Remonde sequat ipsum dolor lorem sit consectetur adipiscing <br>  <small>8 mins ago</small>
              </li>
            </ul-->
          </div>

          <!-- Flickr-Photos-->
          <div class="col-md-3 col-sm-6 footer-text">
            <h4><span>&nbsp;</span></h4>
            <p>BALI<br>Benoa Square 3rd Floor<br>Bypass Ngurah Rai 21 A, Kedonganan 80361</p>
            <p><i class="fa fa-phone-square" style="padding-right:10px"></i> Telp. 0361-8957723<br><i class="fa fa-fax" style="padding-right:10px"></i> Fax. 0361-8957723</p>
            <!--ul class="flickr-img">
              <li><a href="#"><img class="img-responsive" src="img/port3.jpg_%3b%20filename_%3dUTF-8%27%27port3.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-responsive" src="img/port4.jpg_%3b%20filename_%3dUTF-8%27%27port4.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-responsive" src="img/port2.jpg_%3b%20filename_%3dUTF-8%27%27port2.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-responsive" src="img/port6.jpg_%3b%20filename_%3dUTF-8%27%27port6.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-responsive" src="img/port7.jpg_%3b%20filename_%3dUTF-8%27%27port7.jpg" alt=""></a></li>
              <li><a href="#"><img class="img-responsive" src="img/port8.jpg_%3b%20filename_%3dUTF-8%27%27port8.jpg" alt=""></a></li>
            </ul-->
          </div>
          
        </div>
      </div>
    </section>

    <!-- FOOTER
    ================================================== -->

    <footer class="footer">
      <div class="container">
         <p class="text-2">Copyright &copy;2016 PT. Padi Internet - Corporate Internet Solutions</p>
     </div>
   </footer>

   <!-- End Footer-->

   <!-- JavaScripts -->
   <script type="text/javascript" src="js/jquery-1.10.2.js"></script> 
   <!-- Bootstrap -->                                                      
   <script type="text/javascript" src="js/bootstrap.min.js"></script>
   <!-- Scroll -->
   <script src="js/scroll.js"></script>
   <!-- Hover-effect --> 
   <script type="text/javascript" src="js/jquery.hoverdir.js"></script>
   <script type="text/javascript">
   $(function() { $(' .portfolio-wrapper > .effect ').each( function() { $(this).hoverdir(); } );});
   </script>
   <!-- Bxslider -->  
   <script src="js/owl.carousel.min.js"></script>
   <!-- fotorama -->
   <script src="js/fotorama.js"></script>
   <!-- Sticky --> 
   <script type="text/javascript" src="js/jquery.sticky.js"></script> 
   <!-- Tinynav --> 
   <script type="text/javascript" src="js/tinynav.min.js"></script>
   <!-- wow/animation -->  
   <script src="js/wow.min.js"></script>
   <script>new WOW().init();</script>  
   <!-- Tinynav --> 
   <script type="text/javascript" src="js/jquery.flexslider.js"></script>
   <!-- Custom --> 
   <script type="text/javascript" src="js/main01.js"></script> 
 </body>
 
<!-- Mirrored from hardik.navadiya.me/themes/evershine/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Aug 2016 03:19:30 GMT -->
</html>